<div class="inner-widget-container"> 
  <h3>Position Chart</h3>
  <div ng-if='show' ng-pochart width='98%' height='33%'></div>
  <a href="#/teamstatus" class="button-left widget-link">Full Chart</a>

</div>



<!-- <div ng-controller='ModalCtrl'>
<button ng-click='toggleModal()'> Modal/Pop-up </button>
	<div modal-dialog show= 'modalShown' width='90%' height='90%'>
		<div ng-controller='ExpandedCtrl'></div>
		<div> this </div>

		<div ng-pochart width='90%' height='90%'></div>
		
	</div>
</div>
 -->

