<div class="expanded-widget">
	<div class="expanded-widget-container"> 
	  <h2>Position Chart</h2>
	  <a href="#/" class="back">Back</a>	  
	  <div ng-if='show' ng-pochart width='98%' height='98%'></div>


	</div>
</div>



<!-- <div ng-controller='ModalCtrl'>
<button ng-click='toggleModal()'> Modal/Pop-up </button>
	<div modal-dialog show= 'modalShown' width='90%' height='90%'>
		<div ng-controller='ExpandedCtrl'></div>
		<div> this </div>

		<div ng-pochart width='90%' height='90%'></div>
		
	</div>
</div>
 -->

