<div class="login">
  <h1>SoccerDash</h1>
  <img src="img/football.png">
  <h2>English Premier League Soccer Team Stats</h2>
  <div>
    <ul class="group">
      <li>1. SignUp / SignIn</li>
      <li>2. Pick Your Favorite Team</li>
      <li>3. Compare With Other Teams</li>
    </ul>
  </div>
  <button class="login-button" ng-click="loginObj.$login('twitter')">Login</button>
    <!-- Select a favorite team -->
  <div ng-show="user.new" class="popupTeamSelect">
    <ul>
      <li>{{ user.displayName }}, please pick a team!</li>
      <li ng-repeat="team in teams">
        <a href='#' data-team="{{ team.teampath }}" ng-click="selectFavoriteTeam(team)">{{ team.team }}</a>
      </li>
    </ul>
  </div>
</div>
