
<div class="current-position inner-widget-container">  

  <!-- <div ng-show='showLoader' class="ajax-loader"><img src="images/ajax-loader.gif"></div> -->
  <div ng-if="!showLoader" class="current-position" ng-if="show">
    <h3 >Current League Position</h3> 
    <h3>{{currentTeam.position}}</h3>
    <div ng-if="show" class="stats-left">
      <table>
        <tr>
          <td class="category">Played:</td>
          <td>{{ currentTeam.played }}</td>    
        </tr>
        <tr>
          <td class="category positive">Won:</td>
          <td>{{ currentTeam.won }}</td>    
        </tr>
        <tr>
          <td class="category">Drawn:</td>
          <td>{{ currentTeam.drawn }}</td>    
        </tr>
        <tr>
          <td class="category negative">Lost:</td>
          <td>{{ currentTeam.lost }}</td>    
        </tr>        
      </table>
    </div>
    <div class="stats-right">
      <table>
        <tr>
          <td class="category">Goals For:</td>
          <td>{{ currentTeam.for }}</td>    
        </tr>
        <tr>
          <td class="category">Goals Against:</td>
          <td>{{ currentTeam.against }}</td>    
        </tr>
        <tr>
          <td class="category">Goal Difference:</td>
          <td>{{ currentTeam.difference }}</td>    
        </tr>
        <tr>
          <td class="category">Points:</td>
          <td>{{ currentTeam.points }}</td>    
        </tr>        
      </table>
    </div>
  </div>
  <a href="#/league" class="button-left widget-link">Full Table</a>
</div>
